<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
	<head>
		<title>Virtual Machine Manager</title>
		{% load staticfiles %}
		<link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" />
		<script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</head>
	<body>
		<h1>Virtual Machine Manager</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'application.views.list' %}">{{ user.username }}</a>
    <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
    {% endif %}
		<hr />
		{% block content %}
		{% endblock %}
		<hr />
		<div  class="text-center">
			Copyright &copy; By XnnYygn
		</div>
	</body>
</html>
